---
import type { CollectionEntry } from "astro:content";

import LayoutRoot from "@layouts/LayoutRoot.astro";
import FormattedDate from "@components/FormattedDate.astro";

type BlogMetaData = CollectionEntry<"post">["data"];
interface Props extends BlogMetaData {
  content: string;
}

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<LayoutRoot title={title} description={description} pubDate={new Date()}>
  <article>
    <!-- Header -->
    <header class="p-5 md:p-10">
      <div class="container mx-auto">
        <h1 class="h1">{title}</h1>
      </div>
    </header>

    <hr class="hr container mx-auto" />

    <!-- Metadata -->
    <section class="p-4 md:p-10">
      <div class="container mx-auto">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-10 px-4 md:px-16 lg:px-48"
        >
          <!-- Description -->
          <div class="space-y-2">
            <p>{description}</p>
          </div>
          <!-- Published -->
          <div class="space-y-2 flex-row md:flex-col">
            <p class="text-xs md:text-base">Published</p>
            <time class="text-sm md:text-base font-bold">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="text-xs opacity-75">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </time>
          </div>
        </div>
      </div>
    </section>

    <!-- Hero Banner -->
    {
      heroImage && (
        <section class="bg-surface-100-900 p-5 md:p-10">
          <div class="container mx-auto flex justify-center items-center">
            <div class="relative">
              <img
                width={960}
                height={480}
                src={heroImage}
                alt={title}
                class="bg-surface-500 aspect-video max-w-full rounded-container overflow-hidden"
              />
              <div class="absolute inset-0 flex items-center justify-center bg-black/50 text-white p-4">
                <h2 class="text-3xl md:text-5xl font-bold text-center">
                  {title}
                </h2>
              </div>
            </div>
          </div>
        </section>
      )
    }

    <!-- Slot -->
    <div class="container mx-auto space-y-8 px-4 md:px-16 lg:px-48 py-10">
      <slot />
    </div>
  </article>
</LayoutRoot>
