---
import LayoutRoot from "@layouts/LayoutRoot.astro";

import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("post")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const authors = (await getCollection("authors")).sort(
  // Alphabetical by id
  (a, b) => (a.id < b.id ? -1 : a.id > b.id ? 1 : 0)
);
---

<LayoutRoot title="" description="" pubDate={new Date()}>
  <div>
    <!-- Header -->
    <header class="flex justify-center items-center px-4 py-5 md:py-10">
      <div class="grid grid-cols-1 gap-4">
        <h1 class="text-4xl font-bold text-center">AppGoblin Blog</h1>
        <p class="text-lg text-center">
          Free mobile app marketing tools and research
        </p>
      </div>
    </header>

    <hr class="hr container mx-auto" />

    <!-- Featured -->
    <section class="p-4 md:py-10">
      <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4">
        <!-- The Top Post -->
        <a
          class="card border border-surface-100-900 hover:preset-tonal overflow-hidden"
          target="_top"
          href={`/blog/${posts[0].id}/`}
        >
          <img
            class="w-full object-cover rounded-container h-[200px]"
            src={posts[0].data.heroImage}
            alt="AppGoblin Blog"
          />
          <article class="p-4 space-y-4">
            <time class="text-xs opacity-75"
              ><FormattedDate date={posts[0].data.pubDate} /></time
            >
            <h2 class="h2">{posts[0].data.title}</h2>
            <p class="opacity-75">{posts[0].data.description}</p>
          </article>
        </a>
        <!-- Additional Featured Posts -->
        <div class="grid grid-cols-1 gap-4 place-content-start">
          <!-- Loop Posts 2-4 -->
          {
            posts.slice(1, 4).map((post) => (
              <a
                class="card border border-surface-100-900 hover:preset-tonal overflow-hidden"
                target="_top"
                href={`/blog/${post.id}/`}
              >
                <article class="grid grid-cols-1 sm:grid-cols-[280px_1fr]">
                  <img
                    class="w-full aspect-video"
                    src={post.data.heroImage}
                    alt="Portfolio"
                  />
                  <div class="space-y-2 p-4">
                    <time class="text-xs opacity-75">
                      <FormattedDate date={post.data.pubDate} />
                    </time>
                    <h2 class="h2">{post.data.title}</h2>
                    <p class="opacity-75">{posts[0].data.description}</p>
                  </div>
                </article>
              </a>
            ))
          }
        </div>
      </div>
    </section>

    <!-- Latest -->
    <section class="preset-filled-surface-950-50 p-5 md:p-10">
      <div class="container mx-auto space-y-4 md:space-y-10">
        <h2 class="h3">Latest Posts</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          {
            posts.slice(1, 5).map((post) => (
              <a
                class="card border border-surface-900-100 hover:bg-surface-900-100 overflow-hidden"
                target="_top"
                href={`/blog/${post.id}/`}
              >
                <img
                  class="w-full aspect-video"
                  src={post.data.heroImage}
                  alt="Portfolio"
                />
                <article class="p-4 space-y-2">
                  <time class="block text-base">
                    <FormattedDate date={post.data.pubDate} />
                  </time>
                  <h3 class="h3">{post.data.title}</h3>
                  <p class="opacity-75">{posts[0].data.description}</p>
                </article>
              </a>
            ))
          }
        </div>
      </div>
    </section>

    <!-- Authors / Categories -->
    <section class="preset-filled-primary-500 p-5 md:p-10">
      <div class="container mx-auto">
        <div
          class="grid grid-cols-1 lg:grid-cols-[1fr_2fr] items-center gap-10 lg:gap-20"
        >
          <!-- Categories -->
          <div class="space-y-4">
            <h2 class="h3">About AppGoblin</h2>
            <p class="opacity-75">
              AppGoblin is created by James O'Claire. The blog posts are a
              public resource and guest posts are welcome. Head to the <a
                target="_top"
                href="https://appgoblin.info/about"
                ><span class="text-primary-950-50">about page</span></a
              > to learn more or get in contact.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</LayoutRoot>
